[% WRAPPER 'std-container.tt' %]

<form name="[% form.name %]">
    <fieldset>
        <legend>[% form_legend %]</legend>
	[% FOREACH field IN form.fields %]

	     [% PROCESS 'include/field.tt' %]
	[% END %]
	<input type="submit" value="[% form_submit_label %]" class="btn primary">
    </fieldset>
</form>

[% END %]
